<!DOCTYPE html>

{% block import_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/sujet">Forum <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="/admin/dashboard/" class="nav-link">Dashboard</a>
            {% endif %}
        </li>
      </ul>
      <ul class="navbar-nav mr-1">
        <li class="nav-item active">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="/login" class="nav-link">Se connecter</a>
            {% else %}
            <a href="/register" class="nav-link">Créer un compte</a>
            {% endif %}
        </li>
      </ul>
    </div>
</nav>

<title>Liste des sujets</title>

{% block body %}

<style>
    h1{
        display: flex;
        justify-content: center;
        text-align: center;
    }
</style>
    <h1>Liste des sujets :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>DatePost</th>
                <th>Actions Disponible</th>
            </tr>
        </thead>
        <tbody>
        {% for sujet in sujets %}
            <tr>
                <td>{{ sujet.id }}</td>
                <td>{{ sujet.titre }}</td>
                <td>{{ sujet.auteur }}</td>
                <td>{{ sujet.datePost ? sujet.datePost|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('sujet_show', {'id': sujet.id}) }}">Voir ce sujet</a>
                    <a href="{{ path('sujet_edit', {'id': sujet.id}) }}">Modifier le sujet</a>
                    <a href="{{ path('signalement_new', {'sujet_id':sujet.id}) }}">Signaler le sujet</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun sujet trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sujet_new') }}">Créer un nouveau sujet</a>
{% endblock %}
